<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" ng-app = 'ePresence'>
<!--<![endif]-->
	<head>
        
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <!-- Jquery Script -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- FullCalendar Initialization Script -->
        <script type="text/javascript" src="js/initialize.js"></script>
        <!-- JqueryUI Script --> 
        <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Moment Script -->   
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <!-- FullCalendar Script --> 
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <!-- FullCalendar Lang Fr Script --> 
        <script type="text/javascript" src="bower_components/fullcalendar/dist/lang/fr.js"></script>
        
        
        
        <meta charset="utf-8">
		
        <title>Stone Education - Espace Administrateur</title>
		<meta name="author" content="htmlcoder.me">
          
           
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix ">
			<div class="container">
				

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Logo Stone Education"></a>
							
						<!-- header-left end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section bg-image-2" ng-controller="adminController">
              
              <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/myspace.png" alt="Mon espace"></p>
                <!-- infos admin div start -->
		        <!-- ================ -->
                <div class="row">
                    <admin nom ="{{userData.nom}}" prenom = "{{userData.prenom}}" mail = "{{userData.mail}}"></admin>	  
                </div>  
                <!-- infos admin div end -->	

                
                <!-- calendar and key box div start -->
		        <!-- ================ -->
                <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/lescours.png" alt="Les cours"></p>
				<div class="row">
                    <!-- calendar start -->
					<div class="col-md-6" id="calendar"></div>
                     <!-- calendar end -->
					<div class="col-md-4"><a href="details.html"><img src="images/seedetails.png" alt=""></a></div>
                <!-- calendar and key box div end -->	
		      </div>
              </div>
        </div>
	    <!-- section end -->
        
        

         
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap Custom css --> 
        <link rel="stylesheet" href="css/epresence.css"/> 
        <!-- FullCalendar css --> 
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendarA.css"/>
        <!-- JQueryUI Theme css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.themeepresence.css"/>
         <!-- JQueryUI Structure css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.structure.min.css"/>
         <!-- Angular Script --> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>  
		<!-- Bootstap Core Script -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Custom Angular & FullCalendar Scripts -->
        <script type="text/javascript" src = "bower_components/angular/angular-route.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
        <script type="text/javascript" src = "js/services/SessionService.js"></script>
        <script type="text/javascript" src = "js/controllers/adminController.js"></script>
        <script type="text/javascript" src="js/directives/ficheDirective.js"></script>   
        <!-- Events FullCalendar Scripts pour l'administrateur -->
        <script type="text/javascript" src="js/eventsA.js"></script> 
        <!-- Bootstrap Modal Script -->
		<script type="text/javascript" src="bootstrap/js/modal.js"></script>
         
	</body>
</html>
