<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" ng-app = 'ePresence'>
<!--<![endif]-->
	<head>
        
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Jquery Script -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- FullCalendar Initialization Script -->
        <script type="text/javascript" src="js/initialize.js"></script>
        <!-- JqueryUI Script --> 
        <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Moment Script -->   
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <!-- FullCalendar Script --> 
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <!-- Custom css --> 
        <link rel="stylesheet" href="css/epresence.css"/> 
        <!-- FullCalendar css --> 
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendarS.css"/>
        <!-- JQueryUI Theme css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.themehugo.css"/>
         <!-- JQueryUI Structure css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.structure.min.css"/>
         <!-- Angular Script --> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>    
		<!-- Angular Route Script --> 
        <script type="text/javascript" src="bower_components/angular/angular-route.min.js"></script>    
		
        <meta charset="utf-8">
		
        <title>Stone Education - Espace Administrateur</title>
		<meta name="author" content="htmlcoder.me">
          
           
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix ">
			<div class="container">
				

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Logo Stone Education"></a>
							
						<!-- header-left end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- section start -->
		<!-- ================ -->
		<section class="section bg-image-2" ng-controller="detailsController">
              
              <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/myspace.png" alt="Mon espace"></p>
                
                <!-- calendar and key box div start -->
		        <!-- ================ -->
                <div class="container object-non-visible" data-animation-effect="fadeIn">
				<div class="row">
                    
                    <div class="col-md-1"></div>

                    <!-- form start -->
					<div class="col-md-8">
                    <p id="clients" class="title text-center"><img src="images/details.png" alt="Les cours"></p>
                    <div class="form-group has-feedback"> 
                            <div>Date de début  <input type="date" id="datepicker"></div><br>
                            <div>Date de fin  <input type="date" id="datepicker"></div>	
                            <br>
                            <label for="champ">Rechercher : </label>
                            <input type="search" placeholder="Par Nom ou Prénom ou ID ou Date" name="champ" ng-model="filtre" class="form-control"> </input>
                                            <div ng-controller = "coursController">
                                            <div>
                                                <table class="table">
                                                    <tr>            
                                                        <th>Numéro d'étudiant</th>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                        <th>Courriel</th>
                                                        <th>Date d'inscription</th>
                                                        <th>Nombre d'absences</th>
                                                    </tr>
                                                    
	                                                    <tr id="stagclick" ng-repeat='s in stagiaires.stagiaires  |filter : filtre' ng-click = "coursstagiaire(s.id)" > 
	                                                     	   
	                                                        <td>{{s.id}}</td>
	                                                        <td>{{s.nom}}</td>
	                                                        <td>{{s.prenom}}</td>
	                                                        <td>{{s.mail}}</td>
	                                                        <td>{{s.dateInscription}}</td>
	                                                        <td>{{s.nbrAbsences}}</td>
	                                                    
	                                                    </tr>
                                                    
                                                </table>
                                            </div>
                                            
                            <label for="textarea"> Cours </label> 
                            
                            
	                            <select name="cours">
	                                <option  ng-repeat = 'c in stagiaireCours'>{{c}}</option>
	                            </select>
                            </div>
				
                            
                            <form> 
                                <input type = "radio" name = "abspres" value="abs" ng-model="abspres" ng-click = "chckerAbsPres()" checked>Absences<br>
                                <input type = "radio" name = "abspres" value="pres" ng-model="abspres" ng-click = "chckerAbsPres()">Présences
                            </form> 

                            <div>
                                <table class="table">
                                    <tr >            
                                        <th ng-show="absent">Date d'absence</th>
                                        <th ng-show="present">Date de présence</th>
                                        <th ng-show="present">Heure de signature</th>
                                        <th ng-show="present||absent">Cours</th>
                                    </tr>
                                    <tr ng-repeat='c in calendrier'>      	   
                                        <td ng-show="absent && !present">{{c.date}}</td>
                                        <td ng-show="present && !absent">{{c.date}}</td>
                                        <td ng-show="present && !absent">{{c.heureSignature}}</td>
                                        <td ng-show="present||absent") >{{c.cours}}</td>
                
                                    </tr>
                                </table>
                            </div>  
                            
                </div>
                    <div>
                    <button class="btn btn-primary"> Impression PDF </button>
                    </div>
                </div>                        
                <!-- form end -->
			
            <div class="col-md-3"></div>
		    
              </div>
              </div>
        </section>
	    <!-- section end -->
        
        

         
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Bootstap Core Script -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Custom Angular & FullCalendar Scripts -->
		<script type="text/javascript" src = "js/app.js"></script>
        
        <script type="text/javascript" src = "js/controllers/detailsController.js"></script> 
        <script type="text/javascript" src = "js/controllers/coursController.js"></script>
       
         
	</body>
</html>
