<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" ng-app = 'ePresence'>
<!--<![endif]-->
	<head>
        
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		
		
        <!-- Jquery Script -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- FullCalendar Initialization Script -->
        <script type="text/javascript" src="js/initialize.js"></script>
        <!-- JqueryUI Script --> 
        <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Moment Script -->   
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <!-- FullCalendar Script --> 
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <!-- FullCalendar Lang Fr Script --> 
        <script type="text/javascript" src="bower_components/fullcalendar/dist/lang/fr.js"></script>
        
          
				
        
        <meta charset="utf-8">
		
        <title>Stone Education - Espace Formateur</title>
		<meta name="author" content="htmlcoder.me">
          
           
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix ">
			<div class="container">
				

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Logo Stone Education"></a>
							
						<!-- header-left end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section bg-image-2" ng-controller="adminController">
              
              <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/myspace.png" alt="Mon espace"></p>
                <!-- infos admin div start -->
		        <!-- ================ -->
                <div class="row">
                    <formateur nom ="{{userData.nom}}" prenom = "{{userData.prenom}}" mail = "{{userData.mail}}"></formateur>	  
                </div>  
                <!-- infos admin div end -->	

                
                <!-- calendar and change password div start -->
		        <!-- ================ -->
                <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/cours.png" alt="Mes cours"></p>
				<div class="row">
                    <!-- calendar start -->
					<div class="col-md-6" id="calendar"></div>
                     <!-- calendar end -->
                    <div class="col-md-4"> </div>
                    
                <div class="container object-non-visible" data-animation-effect="fadeIn">
               <p id="clients" class="title text-center"><img src="images/modif.png" alt="Modifier mon mot de passe"></p>
				<div class="row">                          
                    <!-- change password div start -->
                          <div class="col-md-4">
                            <form class="form-horizontal" name="registerForm">
                            <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
                                <div class="col-sm-9">
                                <input id="Email" placeholder="Courriel" type="email" class="form-control" required name="Email" ng-model="Email" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Password.$invalid, 'has-success': registerForm.Password.$valid}">
                                <div class="col-sm-9">
                                <input id="Password" type="password" placeholder="Nouveau mot de passe" class="form-control" required ng-minlength="6" name="Password" ng-model="Password" />
                                </div> <span class="text-danger col-sm-offset-3" ng-show="registerForm.Password.$error.minlength">
                                Mot de passe trop court</span>                
                            </div>
                            <div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.ConfirmPassword.$invalid, 'has-success': registerForm.ConfirmPassword.$valid}">
                                <div class="col-sm-9">
                                <input id="ConfirmPassword" placeholder="Confirmer le mot de passe" type="password" class="form-control" required equals-to="registerForm.Password" name="ConfirmPassword" ng-model="ConfirmPassword" />
                                </div> <br/><span class="text-danger" ng-show="!registerForm.ConfirmPassword.$error.required && registerForm.ConfirmPassword.$error.equalsTo">Mots de passe différents</span>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-9">
                                <input type="submit" class="btn btn-default" value="VALIDER" ng-disabled="registerForm.$invalid" />
                                </div>
                            </div>
                            </form>
                        </div>
                    <!-- change password div end --> 
                     
                <!-- calendar and change password div end -->	
		      </div>
              </div>
        </div>
	    <!-- section end -->
        
        

         
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
        <!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap Custom css --> 
        <link rel="stylesheet" href="css/epresence.css"/> 
        <!-- FullCalendar css --> 
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendarA.css"/>
        <!-- JQueryUI Theme css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.themeepresence.css"/>
         <!-- JQueryUI Structure css --> 
         <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.structure.min.css"/>
         <!-- Angular Script --> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>  
		<!-- Bootstap Core Script -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Custom Angular & FullCalendar Scripts -->
        <script type="text/javascript" src = "bower_components/angular/angular-route.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
        <script type="text/javascript" src = "js/services/SessionService.js"></script>
        <script type="text/javascript" src = "js/controllers/formateurController.js"></script>
        <script type="text/javascript" src="js/directives/ficheDirective.js"></script>   
        <!-- Events FullCalendar Scripts pour le formateur -->
        <script type="text/javascript" src="js/eventsF.js"></script> 
        <!-- Bootstrap Modal Script -->
		<script type="text/javascript" src="bootstrap/js/modal.js"></script>
         
	</body>
    
    
    <!-- modal start - this is the popup window -->
    <!-- ================ --> 
      <div id="fullCalModal" class="modal fade">
                    <div class="modal-dialog">
                         <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                    <p id="modalTitle" class="modal-title"><img src="images/sign.png" alt=""></p>
                                </div>
                                <div id="modalBody" class="row modal-body">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"> GÉNÉRER LA CLEF</button> 
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <br>
                                            <p>La clef du jour est : 143950DJ</p>                            
                                    </div>
                                </div>
                        <!--  <div class="modal-footer">
                            </div> -->
                            </div>
                         </div>
       </div>
       <!-- modal end -->
</html>
