<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" ng-app = 'ePresence'>
<!--<![endif]-->
	<head>
        
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta charset="utf-8">
		
        <title>Stone Education - Bienvenue</title>
		<meta name="author" content="htmlcoder.me">
          
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix ">
			<div class="container">
				

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Logo Stone Education"></a>
							
						<!-- header-left end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section">
              
              <div class="container object-non-visible" data-animation-effect="fadeIn">
				<div class="row">
                    <!-- separation div 1 to center the form start -->
					<div class="col-md-4">	 
					</div>
                     <!-- separation div 1 to center the form end -->
					
                     <!-- form start -->
					 <div class="col-md-4">
                        <p class="title text-center"><img src="images/welcome.png" alt="Bienvenue"></p>
						 <div class="form-group has-feedback" >
							<form ng-controller = 'loginController' ng-submit = "connexion(utilisateur)" id="frmLogin" name="frmLogin" method="post">
								<p> 
									Veuillez entrer votre nom d'utilisateur et votre mot de passe
								</p>
                                
								<div class="input-group">
								<label class="sr-only" for="mail">Login</label>
								 <span class="input-group-addon" id="basic-addon1">@</span> <input ng-model = "utilisateur.mail" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" required>
								</div>
								<br/>
                                
								<div>
								<label class="sr-only" for="motdepasse">Mot de passe</label>
								<input ng-model ="utilisateur.motdepasse" type="password" class="form-control" id="pw" placeholder="Mot de passe" name="pw" required>
							    <br/>
                                </div>
                                
                                <div>
                                <label for="regions">Régions : </label>
                                 <select name="regions" >
                                 <option ng-repeat ="reg in regions">{{reg.name}}</option>    
                                 </select>	
								</div>
								<br/>
                                
								<div>
								
								<input type="submit" value="Envoyer" class="btn btn-primary">
								</div>	
								<br/>
                                
								<div>
								<a href="pwdOublie.html">Mot de passe oublié?</a>
								</div>
								<!--<span> Erreur : {{erreur.Erreur}}</span>-->
                                <div ng-show = msgErreur> Erreur : {{erreur.Erreur}} </div>
							</form>
						

						</div>
					</div>
					 <!-- form end -->
                     
                    <!-- separation div 2 to center the form start -->
					<div class="col-md-4">	 
					</div>
                     <!-- separation div 2 to center the form end -->
					
					<ng-view></ng-view>
					
				</div>	
		      </div>
        </div>
			
	    <!-- section end -->
        
        
        

         
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap Custom css --> 
        <link rel="stylesheet" href="css/epresence.css"/> 
         <!-- Angular Script --> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>  
		<!-- Bootstap Core Script -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Custom Angular & FullCalendar Scripts -->
        <script type="text/javascript" src = "bower_components/angular/angular-route.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
		<script type="text/javascript" src = "js/services/SessionService.js"></script>
		<script type="text/javascript" src = "js/services/AuthService.js"></script>
		<script type="text/javascript" src = "js/controllers/loginController.js"></script>
         
	</body>
</html>
