<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" ng-app = 'ePresence'>
<!--<![endif]-->
	<head>
        
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta charset="utf-8">
		
        <title>Stone Education - Mot de passe oublie</title>
		<meta name="author" content="htmlcoder.me">
        
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
           
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix ">
			<div class="container">
				

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Logo Stone Education"></a>
							
						<!-- header-left end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section">
              
              <div class="container object-non-visible" data-animation-effect="fadeIn">
				<div class="row">
                    <!-- separation div 1 to center the form start -->
					<div class="col-md-4">	 
					</div>
                     <!-- separation div 1 to center the form end -->
					
                     <!-- form start -->
					 <div class="col-md-4">
						 <div class="form-group has-feedback" >
							<form ng-controller="pwdOublieController" ng-submit = "pwdOublie()" method="put" id="frmLogin" name="frmLogin">
        
                                <p>Veuillez entrer votre adresse E-mail :</p>

                                <div class="input-group">
                                <input ng-model="user.mail" type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" required>
                                </div>
                                </br>
                                <div>  
                                <input type="submit" value="Générer un mot de passe" class="btn btn-default"/>
                                </div>
                                
                                <div ng-show = mailOk> {{mailEnvoye}} </div>
                                <div ng-show = mailKo> {{erreur}} </div>
                                
                         
                         </form>
						
						</div>
					</div>
					 <!-- form end -->
                     
                    <!-- separation div 2 to center the form start -->
					<div class="col-md-6">
                        <a href="login.html">Retour à la page login</a>
					</div>
                     <!-- separation div 2 to center the form end -->
					
					<ng-view></ng-view>
					
				</div>	
		      </div>
        </div>

			
	    <!-- section end -->
        

         
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap Custom css --> 
        <link rel="stylesheet" href="css/epresence.css"/> 
         <!-- Angular Script --> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>  
		<!-- Bootstap Core Script -->
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Custom Angular & FullCalendar Scripts -->
        <script type="text/javascript" src = "bower_components/angular/angular-route.min.js"></script>
		<script type="text/javascript" src = "js/app.js"></script>
        <script type="text/javascript" src = "js/controllers/pwdOublieController.js"></script>
 
         
	</body>
    
       
</html>
