<!DOCTYPE.html>
     <head>
		 <meta charset="utf-8">
		 
		 <title>Stone Education - NewPwd</title>
				<meta charset="utf-8">
		<title>Stone Education - Espace Formateur</title>
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
				  
	</head>
<body>

<h1> MODIFIER VOTRE MOT DE PASSE</h1>

Ancien mot de passe <input ng-model="oldpwd" type="text" name="invest" placeholder="Votre mot de passe"><br />

Nouveau mot de passe <input ng-model="newpwd1" type="text" name="invest" placeholder="Nouveau Mot de passe"><br />

Veuillez confirmer votre nouveau mot de passe <input ng-model="newpwd2" type="text" name="invest" placeholder="Nouveau Mot de passe"><br />

<button ng-disabled="enableDisableButton"><a href="espaceFormateur.html">Validation</button>






</body>
</html>

