<!-- /boiteDeSignature
		creation d'un formulaire avec une commande ng-submit qui execute la fonction signature() -->
<form class="form-group has-feedback"  ng-controller = "signatureController">

<div>
	<label for="code">Code</label>
	<input class="input-group" ng-model = "cleSignature" type = "text" name = "cleSignature" id = "cleSignature"></input></br>

	<button class="btn btn-default" ng-submit = "signature()"></button>
</div>
	

</form>

<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- Bootstap Core Script -->
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
